@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@600&display=swap');

:root {
  /* Light Mode */
  --light-bg: white;
  --light-button: #4A5568;
  --light-input-color: #718096;
  --light-input-focus-color: #2D3748;
  /* Dark Mode */
  --dark-bg: #1A202C;

  /* Default Mode */

  --bg-color: var(--light-bg);
  --button-color: var(--light-button);
  --input-color: var(--light-input-focus-color);
  --input-focus-color: var(--light-input-focus-color);
}



body {
  background: var(--bg-color);
}