@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@600&family=Noto+Sans+KR:wght@400;500;700&display=swap');

:root {
  /* Light Mode */

  --light-text: black;
  --light-bg: white;
  --light-button: #4A5568;
  --light-input-color: #718096;
  --light-input-focus-color: #2D3748;
  --light-border-color: #4A5568;

  /* Dark Mode */

  --dark-text: white;
  --dark-bg: #1A202C;
  --dark-button: #EDF2F7;
  --dark-input-color: #CBD5E0;
  --dark-input-focus-color: #F7FAFC;
  --dark-border-color: #EDF2F7;

  /* Default Mode */

  --text-color: var(--light-text);
  --bg-color: var(--light-bg);
  --button-color: var(--light-button);
  --input-color: var(--light-input-color);
  --input-focus-color: var(--light-input-focus-color);
  --border-color: var(--light-border-color);

  --white: white;
  --yellow: #F6E05E;
  --light-gray: #E2E8F0;
  --gray: #718096;
  --black: black;
}

.dark {
  --text-color: var(--dark-text);
  --bg-color: var(--dark-bg);
  --button-color: var(--dark-button);
  --input-color: var(--dark-input-color);
  --input-focus-color: var(--dark-input-focus-color);
  --border-color: var(--dark-border-color);
}

body {
  background: var(--bg-color);
  color: var(--text-color);

  font-family: 'Noto Sans KR', sans-serif;
  // transition: all 0.5s;
}
