.setting {
  display: flex;

  flex-direction: column;
  align-items: center;
}

.setting > input {
  width: 70%;
  font-size: 1.25rem;
  outline: 0;
  background-color: none;
  border-radius: 3px;
  border: 1.5px solid rgba(0, 0, 0, .55);
  box-sizing: border-box;
  
  padding: 0.625rem;
  margin-top: 0.5rem;
  background-color: transparent;
  transition: all 0.147s ease-in 0s;
}

.setting > input:focus {
  border: 1.5px solid rgba(0, 0, 0, .8); 
}

.setting > button {
  width: 70%;
  height: 3rem;
  cursor: pointer;

  border: 1.5px solid #3d84f5;
  border-radius: 4px;
  outline: none;

  font-size: 1.5rem;
  font-weight: bold;

  margin-top: 0.5rem;
  transition: all 0.4s;
  color: #2D3748;

}

.play-button {
  background-color: transparent;
}

.invite-button {
  background-color: #ff5d40;
}

.setting > .play-button:hover {
  color: white;
  background-color: #3d84f5;
}

.setting > .invite-button:hover {
  background-color: #f5593d;
}