.logo {
  position: relative;
  top: 22.5px;
  z-index: -1;

  width: 16rem;
  height: 16rem;
}

.start {
  width: 27.5rem;

  margin-right: auto;
  margin-left: auto;

  text-align: center;
  & > h1 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;

    font-size: 5rem;
    font-family: 'MuseoModerno', cursive;
  }

  & > p {
    margin-top: 0.15rem;
    margin-bottom: 0.15rem;
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > input {
    width: 70%;
    font-size: 1.25rem;
    outline: 0;

    color: var(--text-color);
    background-color: none;
    
    border-radius: 3px;
    border: 1.5px solid var(--input-color);

    box-sizing: border-box;
    
    padding: 0.625rem;
    margin-top: 0.5rem;

    background-color: transparent;
    transition: all 0.147s ease-in 0s;

    &:focus {
      border: 1.5px solid var(--input-focus-color);
    }

  }

  & > button {
    width: 70%;
    height: 3rem;
    cursor: pointer;

    color: var(--text-color);
    background-color: transparent;

    border: 2.5px solid var(--button-color);
    border-radius: 4px;
    outline: none;

    font-size: 1.25rem;

    margin-top: 0.5rem;

    transition: all 0.55s;

    &:hover {
      color: var(--bg-color);
      background-color: var(--button-color);
    }

    &:disabled {
      cursor: default;
      color: var(--white);
      border-color: var(--gray);
      background: var(--gray);

      animation: shake 2s infinite;

      @keyframes shake {
        0% { transform: translate(1px, 0px); }
        20% { transform: translate(6px, 0px); }
        40% { transform: translate(-7px, 0px); }
        60% { transform: translate(4px, 0px); }
        70% { transform: translate(0.5px, 0px); }
      }      
    }
  }
}

